@model TESProject.ViewModels.ForgotPasswordViewModel

    <head>
        <meta charset="UTF-8">
        <title>Side Navigation Bar</title>
        <link rel="stylesheet" href="~/css/PasswordRecoveryPage.css">
    </head>

<h2>@ViewData["Title"]</h2>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <div asp-validation-summary="All" style="color:red;" class="text-danger"></div>
    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" placeholder="Email"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="submitButton" type="submit">Submit</button>
        </div>
    </div>
</form>