
<head>
    <meta charset="UTF-8">
    <title>Side Navigation Bar</title>
    <link rel="stylesheet" href="~/css/PasswordRecoveryPage.css">
</head>


<h2>@ViewData["Title"]</h2>
<h1 style="padding-top: 300px">
    Check your Email!!!
</h1>