@model TESProject.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<head>
    <meta charset="UTF-8">
    <title>Side Navigation Bar</title>
    <link rel="stylesheet" href="~/css/LoginPageStyle3.css">
</head>

<body>
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <img class="img1" src="~/images/ProfilePicture.png" />
        <h1> Login</h1>
        <div asp-validation-summary="All" style="color:red; padding-right:40px;" class="text-danger"></div>
        <div>
            <input asp-for="Email" placeholder="Email" />
        </div>
        <div>
            <input asp-for="Password" placeholder="Password" />
        </div>
        <div>
            <input class="submitButton" type="submit" value="Submit" />
        </div>
        <h4>Don't have an account yet, <a style="color: White" href="https://localhost:44313/Account/Register">register</a></h4>

        <h4>Forgot password? <a style="color: White" href="https://localhost:44313/Account/ForgotPassword">Reset password</a></h4>
    </form>
</body>