@model TESProject.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Password reset";
}

<head>
    <meta charset="UTF-8">
    <title>Side Navigation Bar</title>
    <link rel="stylesheet" href="~/css/PasswordRecoveryPage.css">
</head>

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" style="color: red; padding-right:40px;" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password" />
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            </div>
            <button class="submitButton" type="submit">Submit</button>
        </form>
    </div>
</div>