body {
    font-family: "Lato", sans-serif;
}

.imagePadding{
    padding-left: 18%;
}

.menuEllements{

    padding-top: 50px;
}

    .menuEllements.horizTranslate {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -o-transition: 3s;
        transition: 3s;
        margin-left: 50% !important;
    }

h2 {
    color: #ffffff;
    padding-left: 24%;
}
.sideBarButton {
    position:absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c0f2f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 4px solid #fcfcfc;
}

    .sidenav a {
        padding: 8px 8px 30px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: white;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
