@*@{
        ViewData["Title"] = "Home Page";
    }*@
@using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager

    <head>
        <meta charset="UTF-8">
        <title>Side Navigation Bar</title>
        <link rel="stylesheet" href="~/css/mapStyle3.css">
        <link rel="stylesheet" href="~/css/VerticalNaviBar4.css">
    </head>

    <body>

        <div>
            <div id="map"></div>

            <script src="~/js/map.js"></script>

            <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyDaoLdV31Y5ls8ABBpuAQt9t8RzMDfOMiM"></script>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>
            <img class="imagePadding" src="~/images/ProfilePicture.png" />

            @if (SignInManager.IsSignedIn(User))
            {
                <h2>@User.Identity.Name</h2>
            }
            else
            {
               <h2>LoginName</h2>
            }

        <div id="el" class="menuEllements">
            <div>
                <button class="menuButtons"> <a href="https://localhost:44313/Identity/Account/Register"> <img src="~/images/Profile.png" /> Profile</a> </button>
            </div>

            <div>
                <button class="menuButtons"> <a href="#"> <img src="~/images/Posts.png" /> Posts</a> </button>
            </div>

            <div>
                <button class="menuButtons"> <a href="#"> <img src="~/images/LogOut.png" /> Logout</a> </button>
            </div>
        </div>

        </div>


        <span class="sideBarButton" onclick="openNav()"> <img src="~/images/OpenMenu.png" /></span>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "300px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0px";
            }

        </script>

    </body>

