@*@{
        ViewData["Title"] = "Home Page";
    }*@
@using Microsoft.AspNetCore.Identity
    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager

    <head>
        <meta charset="UTF-8">
        <title>Side Navigation Bar</title>
        <link rel="stylesheet" href="~/css/mapStyle3.css">
        <link rel="stylesheet" href="~/css/VerticalNaviBar10.css">
    </head>

    <body>

        <div>
            <div id="map"></div>

            <script src="~/js/map.js"></script>

            <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyDaoLdV31Y5ls8ABBpuAQt9t8RzMDfOMiM"></script>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>
            <img class="imagePadding" src="~/images/ProfilePicture.png" />

            @if (SignInManager.IsSignedIn(User))
            {
                <h2>@User.Identity.Name</h2>
            }
            else
            {
               <h3>LoginName</h3>
            }

        <div id="el" class="menuEllements">
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                    <button class="menuButtons"> <a href="#"> <img src="~/images/Profile.png" style="padding-right: 10px;" /> Profile</a> </button>
                </div>
            }
            else
            {
                <div>
                    <button class="menuButtons"> <a href="https://localhost:44313/Account/Login"> <img src="~/images/Profile.png" style="padding-right: 10px;" /> Profile</a> </button>
                </div>
            }
            <div style="padding-top: 15px">
                <button class="menuButtons"> <a href="#"> <img src="~/images/Posts.png" style="padding-right: 16px;" />  Posts</a> </button>
            </div>


            @if (SignInManager.IsSignedIn(User))
            {
                using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()                    
                            <div style="padding-top: 15px" asp-area="Identity" asp-page="/Users/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">                              
                               <button class="menuButtons" type="submit"><img src="~/images/LogOut.png" style="padding-right: 18px;" />Logout</button>
                            </div>                       
                }
            }
        </div>

            </div>


        <span class="sideBarButton" onclick="openNav()"> <img src="~/images/OpenMenu.png" /></span>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "300px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0px";
            }

        </script>

    </body>

